/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/02/2016, 15:52:08
    Author     : emanuel
*/
.btn-group-jogo{
    text-align: center;
    margin: 15px 0;
}
.image-jogo{
    width: 100px;
    border: #c5c5c5 solid 3px;
    height: 100px;
    margin: 10px auto;
    display: block;
}
