/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/02/2016, 20:39:49
    Author     : emanuel
*/
.container-game{
    margin: 30px 0;
}
.image-jogo{
    width: 100px;
    height: 100px;
    position: relative;
    display: block;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}
.box-list{
    background-color: #8992fd;
    clear: both;
    min-height: 100px;
    padding: 10px;
    color: black;
}
.btn-group-estado{
    margin: 3px;
}
.title{
    display: inline-block;
    font-size: medium;
    font-weight: bold;
}