/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/02/2016, 21:50:43
    Author     : emanuel
*/

.container-game{
    margin: 30px 0px;
}
.box-list{
    background-color: #b9b9b9;
    min-height: 100px;
    padding: 20px 20px 1px 20px;
    margin: 30px 0;
    border-radius: 5px;
    color: black;
}

.box-list:focus{
    background-color: #1b6d85;
}

.title{
    display: inline-block;
    font-size: medium;
    font-weight: bold;
}